/// Map of colors for quick grabbing.
/// @prop {Color} pink [#c6538c] - pink
/// @prop {Color} light-purple [#e9e4f1] - light purple
/// @prop {Color} purple [#998099] - purple
/// @prop {Color} green [#699] - green
/// @prop {Color} light-grey [#e0e0e0] - light grey
/// @prop {Color} medium-grey [#ddd] - medium grey
/// @prop {Color} dark-grey [#444] - dark grey
/// @prop {Color} white [#f9f9f9] - white
/// @see {function} color
/// @type Map
$colors: (
  "pink":         #dd5a6f,
  "light-purple": #e9e4f1,
  "purple":       #5c4863,
  "green":        #135c6a,
  "yellow":       #ffc93c,
  "light-grey":   #e0e0e0,
  "medium-grey":  #ddd,
  "dark-grey":    #333,
  "white":        #f9f9f9
) !global;


/// Map of breakpoints for responsive design.
/// @prop {Map} small [(max-width: 800px)] - small screens
/// @prop {Map} medium [(min-width: 801px)] - regular screens
/// @see {mixin} respond-to
/// @type Map
$breakpoints: (
  "small":  (max-width: 800px),
  "medium": (min-width: 801px)
) !global;


/// Z-indexes layers.
/// @prop {Number} key   - aliases for specific z-indexes
/// @see {function} z
/// @type Map
$z-indexes: (
  "goku":       9001,
  "modal":      5000,
  "dropdown":   4000,
  "social":     3000,
  "default":       1,
  "below":        -1
) !global;


/// Sidebar width
/// @type Number
$sidebar-width: 280px;


/// Vertical rhythm
/// @type Number
$vertical-rhythm: 1.5rem;


/// Text font stack
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;


/// Code font stack
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;
