/**
 * Main wrapper
 */
.main {
  background: color("white");
  position: relative;
  padding-bottom: 3em;

  @include respond-to("medium") {
    padding-left: $sidebar-width;
    min-height: 45em;
    padding-bottom: 0;
  }
}

/**
 * Main titles
 */
.main__heading,
.main__heading--secondary {
  padding: 1em 0;
  margin-top: 0;

  @include respond-to("medium") {
    padding: 2em 0 0;
  }
}

/**
 * Primary headings
 */
.main__heading {
  color: color("dark-grey");
  font-size: 4em;
  text-align: center;
  text-transform: capitalize;

  border-bottom: 5px solid color("pink");
  padding-bottom: .5em;
  margin-bottom: 1em;

  background: color("yellow");
}

/**
 * Secondary headings
 */
.main__heading--secondary {
  font-size: 3em;
  color: color("pink");
  text-transform: uppercase;
  font-weight: bold;

  padding-top: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: .15em;
    height: .2em;
    background-color: color("pink");
  }
}
