/**
 * Description
 */
.description {
  padding: 1em 0;
}

/**
 * Main wrapper
 */
.main {
  background: #f9f9f9;
  position: relative;

  @include respond-to('medium') {
    transition: .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    padding-left: $sidebar-width;
    min-height: 45em;
  }
}

/**
 * Main titles
 */
.main__heading,
.main__heading--secondary {
  padding: 1em 0;
  margin-top: 0;

  @include respond-to('medium') {
    padding: 2em 0 0;
  }
}

/**
 * Primary headings
 */
.main__heading {
  color: $tertiary-color;
  font-size: 4em;
  text-align: center;

  border-bottom: 5px solid rgba($tertiary-color, .2);
  padding-bottom: .5em;
  margin-bottom: 1em;

  background: rgba($tertiary-color, .1);
}

/**
 * Secondary headings
 */
.main__heading--secondary {
  font-size: 3em;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0;
  position: relative;

  .container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.15em;
    height: 0.2em;
    background-color: $primary-color;
  }
}
